.notification {
   position: fixed;
   top: -60px;
   left: 50%;
   transform: translateX(-50%);
   width: auto;
   max-width: 500px;
   height: 40px;
   padding: 10px 15px;
   border-radius: 20px;
   font-size: 16px;
   color: white;
   display: flex;
   align-items: center;
   gap: 10px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   border: 1px solid rgba(235, 235, 235, 0.5);
   background-color: rgba(255, 255, 255, 0.4);
   opacity: 0;
   transition: top 0.7s ease-in-out, opacity 0.5s ease-in-out;
   z-index: 1000;
}

.notification p {
   font-size: 15px;
   font-family: 'Inter-Medium';
   /* margin-left: 5px; */
   color: white;
}

/* Animatsiya bilan ko‘rinadigan bo‘lishi */
.notification.show {
   top: 20px;
   opacity: 1;
}

/* Muvaffaqiyatli xabar uchun yashil fon */
.notification.success {
   background-color: rgba(255, 255, 255, 0.4);
}

/* Xatolik xabari uchun qizil fon */
.notification.error {
   background-color: rgba(255, 0, 0, 0.4);
}

/* Ikonkalarni stil qilish */
.notification img {
   width: 24px;
   height: 24px;
   display: none;
   /* Barcha ikonlarni dastlab yashiramiz */
}

/* Success holatda faqat yashil ikonka chiqadi */
.notification.success .success-icon {
   display: inline-block;
}

/* Error holatda faqat qizil ikonka chiqadi */
.notification.error .error-icon {
   display: inline-block;
}
