@import url("assets/fonts/font.css");
@import url("reset.css");

:root {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/backgraund.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid white;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Scrollbar'ni stil qilish */
::-webkit-scrollbar {
  width: 6px; /* 🔹 Kengligi */
}

/* Scrollbar track (orqa fon) */
::-webkit-scrollbar-track {
  background: transparent; /* 🔹 Orqa fon ko‘rinmas */
}

/* Scrollbar thumb (harakatlanuvchi qismi) */
::-webkit-scrollbar-thumb {
  background: #ffffff50; /* 🔹 Shaffof oq */
  border-radius: 4px; /* 🔹 Burchaklarni yumaloqlash */
}

/* Hover bo‘lganda scroll thumb */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff70; /* 🔹 Biroz to‘qroq shaffof oq */
}
